section.contact(id="contact")
  .wrapper-titles.wrapper-title-black
    h1 Contact us
  form(action="action_page.php")
    .w3-row-padding
      .w3-half
        label(for="email") Email
        input(type="text", id="fname", name="firstname").w3-input.w3-border
      .w3-half
        label(for="email") Email
        input(type="text", id="fname", name="firstname").w3-input.w3-border
      textarea
      input(type="submit", value="Envoyer").btn.ms-hover-white
        
        
