header
  .trophy-wrapper
    img(src="assets/img/trophy.png").trophy
  
  ul.menu
    li.switch #[a(href="#about") Acceuil]
    li.switch #[a(href="#products") Produits]
    li #[img(src="assets/img/logo.png")] 
    li.switch #[a(href="#schedule") Horaires]
    li.switch #[a(href="#contact") Contact]
    
