header
  .trophy-wrapper
    img(src="assets/img/trophy.png").trophy
  
  ul.menu
    li Acceuil
    li Produits
    li
      a(href="#") #[img(src="assets/img/logo.png")] 
    li Horaires
    li Contact   
