header
  .trophy-wrapper
    img(src="assets/img/trophy.jpg").trophy
  .menu
    ul
      li about
      li products
      li
        a(href="#") #[img(src="assets/img/logo.jpg")] 
      li schedules
      li Contact   
