section.product
  .wrapper-titles.wrapper-title-black
    h1 Our products
  ul.flex--wrapper
    li
      .box
        img(src="assets/img/holala.jpg")
        p chocolate
    li.ms-hover-black 
      .box caramel
    li.ms-hover-black 
      .box dunno how to say in english
    li.ms-hover-black
      .box dunno how to say in english
  .btn.ms-hover-black link to resellers >>
      
      
