.product
  .wrapper-titles.wrapper-title-black
    h1 Our products
  .wrap-products
    ul
      li chocolate
      li caramel
      li dunno how to say in english
      li dunno how to say in english
    button(class="btn", data-action="bea").
      link to resellers
      
