section.product.white-section(id="products")
  .wrapper-titles.wrapper-title-black
    h1 Nos produits
  ul
    li.ms-hover-black 
      .box
        img(src="assets/img/holala.jpg")
        p chocolate
    li.ms-hover-black 
      .box 
        img(src="assets/img/holala.jpg")
        p caramel
    li.ms-hover-black 
      .box 
        img(src="assets/img/holala.jpg")
        p Crèmes à tartiner 
    li.ms-hover-black
      .box 
        img(src="assets/img/holala.jpg")
        p Truffes et pralinés 

  .btn.btn-black.ms-hover-black Revendeurs >>     
  .clear  
