mixin lign(jour,heure)
  li
    span.col1= jour
    span.col2= heure

section.schedule.ms-card-shadow(id="schedule")
  .wrapper-titles.wrapper-title-white
    h1 Horaires & Lieu
  .wrap-about
    .horaires
      h2 Heures d'ouverture : 
      ul
        +lign("Lundi :","Fermé") 
        +lign("Mardi à vendredi :","9h00 - 18h30") 
        +lign("Samedi :","9h00 - 17h00") 
        +lign("Dimanche :","Fermé") 
    .map
      {% include map.html %}
    
  
