.scroll
  height: 2000px
.about
  background: lightblue
  p
    margin: 0

  .wrap-about
    display: flex
    justify-content: space-between
    align-items: center

    margin: 0
    position: relative
    button
      position: absolute
      right: 0
      bottom: 0
