.scroll
  height: 2000px


.about
  background: #191919

  display: block
  padding: 40px 0 10px 0
  .wrap-about
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 10px
    position: relative
    color: #DDD
    .btn
      border-color: white
      border-style: solid
      font-size: 24px
  h1
    color: #DDD
