footer
  h1
    margin: 0
  .wrap-about
    p
      width: 33%
      display: inline-block
      margin: 0
      padding: 0
      text-align: center

  .webmaster
    background: black
    color: white
