header
  .trophy
    position: absolute
    height: 100px
    right: -10px


  ul.menu
    background: #fafafa

    display: flex
    justify-content: space-between

    margin: 0 100px
    padding: 60px 0 0 0
    list-style-type : none
    li
      font-size: 28px
      font-family: 'Dancing Script', cursive
      color: #191919


      img
        height: 150px
        margin: -20px 0 -60px 0

//
  @media (max-width: 768px)
      .home-wrap
        .mobile-nav.is-open
          display: block
