.product
  background: #fafafa
  position: relative
  padding: 10px 0 10px 0
  h1
    margin: 0
    color: #191919
  ul
    margin: 30px 0 0 0
    li
      width: 50%
      height: 230px
      padding: 25px



      display: inline-block
      outline: 0
      vertical-align: middle
      overflow: hidden
      text-decoration: none !important
      color: #191919
      background-color: #fafafa
      cursor: pointer
      white-space: nowrap


      display: flex
      flex-direction: column
      justify-content: center
      transition: color 0.5s, background-color 0.5s, padding 0.5s

      .box
        width: 100%

        height: 100%
        border: 1px solid #191919

        padding: 15px
        margin: auto

        transition: transform 0.5s, border 0.5s


      img
        opacity: 0.7
        float: left
        height: 100%

    li:hover
      color: #fafafa
      background-color: #191919
      padding: 10px
      .box
        //transform: scale(1.1)
        border: 1px solid #fafafa






  .btn
    border-color: #191919
    border-style: solid
    font-size: 24px
    color: #191919
    background-color: #fafafa
