.home-wrap
  display: block
  max-width: 1200px
  background: green
  margin: 0 auto
  position: relative

.wrapper-titles
  overflow: hidden
  text-align: center
  h1
    display: inline-block
    padding: 0 15px
    position: relative

  h1:before,
  h1:after
    content: ""
    display: block
    height: 1px
    position: absolute
    top: 50%
    width: 400%


  h1:before
    right: 100%
    margin-right: 15px
  h1:after
    left: 100%
    margin-left: 15px

.wrapper-title-white
  h1:before,
  h1:after
    background-color: white
.wrapper-title-black
  h1:before,
  h1:after
    background-color: black


.btn
  position: absolute
  right: 0
  bottom: 0
//
    @media (max-width: 775px)
      display: block

  .home-sections
    flex: 1
    section
      padding: 50px 0

    .flex
      display: flex
      flex-direction: rows

    .flex--center
      justify-content: center

    .flex--space-around
      justify-content: space-around

    .order-first
      order: -1

  .col-1
    max-width: 300px
    margin: 0 10px
    background: pink

  .col-2
    max-width: 620px
    margin: 0 10px
    background: honeydew

  .col-50
    width: 50%
    background: yellow

  @media (max-width: 640px)
    .home-sections .flex
      display: block

      .col-1
        max-width: 100%
      .col-50
        width: auto
